**The re module offers a set of functions that allows us to search a string for a match:**                
          
Function Description          
findall=Returns a list containing all matches             
search=Returns a Match object if there is a match anywhere in the string     
split=Returns a list where the string has been split at each match        
sub=Replaces one or many matches with a string.

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

# **The findall() Function**

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

# **The search() Function**

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

# **The split() Function**

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

# **The sub() Function**

In [ ]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [ ]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

# **Match Object**

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain